@use "../colors.scss" as colors;
@use "../mixin.scss" as mixin;

.mainContainer {
  width: 100vw;
  height: calc(100vh - 109px);
  background-color: colors.$bg_black;
  overflow: scroll;
  box-sizing: content-box;

  @include mixin.mq(tab) {
    height: calc(100vh - 65px);
  }
}

.mainWrapper {
  width: 350px;
  margin: 0 auto;

  @include mixin.mq(tab) {
    width: 700px;
  }

  @include mixin.mq(pc) {
    width: 970px;
  }
}
