$yellow: #fbc500;
$white: #fff;

$header_bg_black: #121920;
$bg_black: #10171d;

$text_darkGray: #999c9f;
$text_brack: #10171d;

$search_black: #3d3d3d;
$button_black: #1c252f;

$modal_bg: #000000;
$modal_contents: #252e39;

$ok_green: #06de77;
$no_red: #ee0c0c;
